.v19v {
	border: none;
	padding: 0;
	margin: 0;
}

.v19v .err {
	background-color: #FFEEEB;
	border: 1px solid #D41700;
	padding: 5px;
	margin: 0px;
}

.v19v div {
	padding: 0;
}

.v19v .postbox {
	
}

.v19v h3 {
	margin: 0;
	padding: 5px;
}

.v19v .inside {
	padding: 5px;
}

.v19v .inside ul {
	margin-left: 10px;
	list-style-type: circle;
	list-style-position: inside;
}

.v19v .inside ol {
	margin-left: 10px;
	list-style-position: inside;
}